
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@*<h2>Name: @ViewBag.Name</h2>
<h2>Id: @ViewBag.Id</h2>
<h2>Address: @ViewBag.Address</h2>*@
<h2>Name: @Model.Name</h2>
<h2>Id: @Model.Id</h2>
<h2>Address: @Model.Address</h2>
<h2>Cgpa: @Model.Cgpa</h2>



