
@{
    ViewBag.Title = "List";
}
@if (TempData["Msg"] != null) { 
    <p class="alert alert-info">@TempData["Msg"]</p>
}


<h2>List</h2>
<div class="row">
    <form>
        <input type="text" placeholder="Search" name="search" class="form-control col-md-3" />
        <input type="submit" value="Search" class="btn btn-primary col-md-1" />
    </form>
    
</div>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Address</th>
        <th>Email</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Id</td>
            <td>@item.Address</td>
            <td>@item.Email</td>
            <td>
                <a href="/student/details/@item.Id">Details</a>
                <a href="/student/Edit/@item.Id">Edit</a>
                <a href="/student/Delete/@item.Id">Delete</a>
            </td>
        </tr>

    }
</table>

