
@{
    ViewBag.Title = "Index";

}

<h1>@Request["Username"]</h1>

@Html.ValidationSummary()

@if (TempData["Msg"] != null) { 
    <p class="alert alert-info">@TempData["Msg"]</p>
}

<h2>Index</h2>
<form action="" method="post">
    <input type="text" name="Username" value="@Model.Username" placeholder="Username" class="form-control" />
    <span class="text-danger">@Html.ValidationMessage("Username")</span>
    <input type="password" name="Password" placeholder="Password" class="form-control" />
    <span class="text-danger">@Html.ValidationMessage("Password")</span> <br />
    <input type="submit" class="btn btn-primary" value="Login" />

</form>

