
@{
    ViewBag.Title = "Registration";
}

@{ 
    bool CheckGender(string gen) {
        if (Model.Gender != null && Model.Gender == gen) {
            return true;
        }
        return false;
    }
    bool CheckProfession(string prof)
    {
        if (Model.Profession != null && Model.Profession == prof)
        {
            return true;
        }
        return false;
    }
    bool CheckHobbies(string hobby)
    {
        if (Model.Hobbies != null)
        {
            foreach (var item in Model.Hobbies)
            {
                if (item == hobby) return true;
            }
        }
        return false;
    }
}

@Html.ValidationSummary()

<h2>Registration</h2>
<form method="post">
    <input type="text" name="Id" value="@Model.Id" placeholder="Id" class="form-control" />
    <span class="text-danger">@Html.ValidationMessage("Id")</span>
    <input type="text" name="Email" value="@Model.Email" placeholder="Email" class="form-control" />
    <span class="text-danger">@Html.ValidationMessage("Email")</span>
    Gender:
    <input type="radio" name="Gender" value="Male" checked="@CheckGender("Male")" /> Male
    <input type="radio" name="Gender" value="Female" checked="@CheckGender("Female")" /> Female
    <br />
    <span class="text-danger">@Html.ValidationMessage("Gender")</span>
    <br />
    Profession:
    <select name="Profession">
        <option disabled selected>--Select--</option>
        <option selected="@CheckProfession("Student")">Student</option>
        <option selected="@CheckProfession("Business")">Business</option>
        <option selected="@CheckProfession("Service")">Service</option>
    </select>
    <br />
    <span class="text-danger">@Html.ValidationMessage("Profession")</span>
    <br />
    Hobbies:
    <input type="checkbox" checked="@CheckHobbies("Sports")" name="Hobbies[]" value="Sports" /> Sports
    <input type="checkbox" checked="@CheckHobbies("Travelling")" name="Hobbies[]" value="Travelling" /> Travelling
    <input type="checkbox" checked="@CheckHobbies("Games")" name="Hobbies[]" value="Games" /> Games
    <br />
    <span class="text-danger">@Html.ValidationMessage("Hobbies")</span>
    <br />
    <input type="submit" value="Registration" class="btn btn-primary" />

</form>


